.banner {
  background-image: url("../../images/background.png");
  height:50vh;
  color:white;
  padding-top:10vh;
  padding-left:10vw;
  padding-right:10vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
